---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80
UseTab: Never
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: None
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
Standard: c++20
